<section class="about-me bg-dark py-5">
    <div class="container-lg py-4">
        <div class="row align-items-center align-content-center">
            <div class="col-md-4 mt-md-0">
                <div class="about-me-img text-center">
                    <img src="../../../assets/about-me-photo.jpg" class="rounded-circle mw-100 img-size" alt="Imagen de perfil">
                </div>
            </div>
            

            <div class="col-md-8 mt-5 mt-md-0">
                <div class="about-me-text px-3">
                    <p class="text-light mb-1 fs-2 text">Araceli Lopez</p>
                    <h1 class="fs-1 fw-bold titulo-text">FULL STACK DEVELOPER JR.</h1>
                    <p class="text-light fs-3 mt-4 mb-1 text">Sobre mi</p>
                    <p class="mt-2 text-light text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod perspiciatis odio velit deserunt deleniti! Aperiam quo est ullam odio explicabo nam eligendi dignissimos, sint provident similique iure? Sunt ex facere, suscipit excepturi nam quisquam. Saepe asperiores voluptatibus dignissimos! Ipsum, debitis?</p>
                </div>
            </div>           
        </div>
    </div>
</section>