.photo-perfil{
    width: 180px;
    margin-top: -100px;
  }

.nombre{
    color: #DC8DF2;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
}


.titulo-text{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    
}

.about-border{
    display: block;
    width: 80px;
    height: 3px;
    background: #DC8DF2;
    margin: 10px auto;
}

.about h1 {
    text-align: center;
 }

 .font-seccion{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
}


.text{
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    letter-spacing: 1px;
}

.img-borde{
    border: 6px solid #212429;
}