
.photo-perfil{
    width: 170px;
}

.nombre{
    color: #9268C4;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
}


.titulo-text{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    color: #494949;
}

.about-border{
    display: block;
    width: 80px;
    height: 3px;
    background: #BB86FA;
    margin: 10px auto;
}


.color-font-skills{
    color: #9268C4;
}


.font-seccion{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #494949;
    letter-spacing: 4px;
}


.text{
    color: #494949;
    font-family: "Poppins", Sans-serif;
    font-size: large;
    line-height: 1.5em;
    letter-spacing: 1px;
}