<div class="text-dark">
<form novalidate #f="ngForm">
    <h2 mat-dialog-title>EDITAR HARD SKILL</h2>
    <div class="form-container">

        <label for="nombreSkillH">Nombre de la habilidad
            <input type="text" id="nombreSkillH" name="nombreSkillH" placeholder="Ej: HTML"
                [(ngModel)]="skillh.nombreSkillH" (keyup)="validarLongitudNombreSkillH()" required />
        </label>
        <div *ngIf="errorNombreSkillH" class="text-danger">El nombre de la habilidad debe tener menos de 10 caracteres.</div>

        <label for="porcentajeSkillH">Nivel de habilidad
                <input type="number" id="porcentajeSkillH" name="porcentajeSkillH" placeholder="Ej:80" min="0" max="100" step="5"
                [(ngModel)]="skillh.porcentajeSkillH" required>
                <span *ngIf="skillh.porcentajeSkillH > 100" class="text-danger">El porcentaje de habilidad debe ser menor o igual a 100.</span>
        </label>
    </div>


    <div mat-dialog-actions class="form-container__btn">
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-button cdkFocusInitial class="send-button" (click)="onUpdate(data.id)">Actualizar</button>
    </div>
</form>
</div>
