<div class="container-fluid bg-dark py-5">

    <div class="row w-75 mx-auto educacion-fila">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="font-seccion">EDUCACION</h1>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
            <img src="../../../assets/logo-unju.png" alt="Logo institucion" width="180" height="160">
            <div>
                <h3 class="text-light fs-5 mt-4 px-4 pb-1">Analista Programador Universitario</h3>
                <p class="text-light px-4">Facultad de Ingenieria - UNJU</p>
                <p class="text-light px-4">2019-2023</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
            <img src="../../../assets/logo-ArgP.png" alt="Logo institucion" width="180" height="160">
            <div>
                <h3 class="text-light fs-5 mt-4 px-4 pb-1">Full Stack Developer Jr.</h3>
                <p class="text-light px-4">Argentina Programa - INTI</p>
                <p class="text-light px-4">2022-2023</p>
            </div>
        </div>

    </div>
</div>