.font-seccion{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #E55926;
}

@media(max-width:768px){
    .educacion-fila{
        width: 100% !important;
        text-align: center;
    }
}

@media(max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}
