<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="#">
      <img src="../../../assets/APlogo.png" id="logoAP" class="my-2 ms-3" alt="Logo AP">
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
      <ul class="navbar-nav sm-icons ms-auto">
        <li><a class="nav-link" href="https://github.com/AraceliW" aria-label="GitHub" target="_blank" rel="noreferrer"><i class="bi bi-github item-color"></i></a></li>
        <li><a class="nav-link" href="https://ar.linkedin.com/" aria-label="Linkedin" target="_blank" rel="noreferrer"><i class="bi bi-linkedin item-color"></i></a></li>
        <li><a class="nav-link" href="https://www.instagram.com/" aria-label="Instagram" target="_blank" rel="noreferrer"><i class="bi bi-instagram item-color"></i></a></li>
        <li><button type="button" class="nav-login btn btn-outline-color me-3">Login</button></li>
      </ul>
    </div>

  </div>
</nav>