<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    
      <img src="../../../assets/AP-logo.png" id="logoAP" class="my-2 ms-3" alt="Logo de Argentina Programa 4.0">
      <img src="../../../assets/YoProgramo.png" id="logoAYoProgramo" class="ml-0 my-2" alt="Logo de Yo programo">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
      <ul class="navbar-nav sm-icons ms-auto">
        <li><a class="nav-link mybtn" href="https://github.com/AraceliW" aria-label="GitHub" target="_blank" rel="noreferrer"><i class="bi bi-github item-color"></i></a></li>
        <li><a class="nav-link mybtn" href="https://www.linkedin.com/in/araceli-lopez-1100b2269/" aria-label="Linkedin" target="_blank" rel="noreferrer"><i class="bi bi-linkedin item-color"></i></a></li>
        <li><button type="button" class="nav-login btn mybtn me-3 btn-outline-new text-white" (click)="login()" *ngIf="!isLogged" >Iniciar Sesion</button></li>
        <li><button type="button" class="nav-login btn mybtn me-3 btn-outline-new text-white" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button></li>
      </ul>
    </div>

  </div>
</nav>