<div class="container-fluid p-5 bg-dark">
    <div class="container mb-5">
        <div class="about p-4">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="font-seccion fs-2">PROYECTOS</h1>
            </div>
            <div class="about-border mb-4"></div>
        </div>

        <div class="row align-items-center card-bg">
            <div class="col-lg-3 pb-4 pb-lg-0">
                <img class="img-fluid rounded w-100" src="../../../assets/logos-experiencia.jpg" alt="Imagen experiencia">
            </div>

            <div class="col-lg-9 p-2">
                <h3 class="text-light font-title">Portafolio web</h3>
                <p class="text-light text">Descripcion del proyecto- Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga libero impedit odio repellat repellendus omnis quasi quisquam unde! Optio, ut!</p>
                <p class="text-light text">Fecha de creacion: <span class="text-light">2023</span></p>
            </div>
        </div>

    </div>
</div>