.bg-new{
    background-color: #885cbd;;

}

.font-seccion{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
}

.font-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.text{
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    letter-spacing: 1px;
}

.about-border{
    display: block;
    width: 80px;
    height: 3px;
    background: #DC8DF2;
    margin: 10px auto;
}

.about h1 {
    text-align: center;
 }

 .iconos-edicion {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


 .text-color{
    font-family: 'Open Sans', sans-serif;
    color: #DC8DF2;
    font-size:larger;
    font-weight: bold;
}

.img-size{
    object-fit: cover;
    object-position: center center;
    width: 180px;
    height: 180px;
}


@media(max-width:768px){
    .educacion-fila{
        width: 100% !important;
    }
}

@media(max-width:576px){
    .center-sm{
        text-align: center;
    }
}

@media(max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}