<div class="container-fluid py-5 bg-white">
    <div class="about">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="font-seccion fs-2 pt-4">HABILIDADES DE DESARROLLO</h1>
        </div>
        <div class="about-border rounded"></div>
    </div>

     <!--HARD SKILL-->
    <h4 class="text-center pt-4 m-2 title-skill">HARD SKILL</h4>

    <div class="row align-items-center justify-content-center m-0">  
        <i class="bi bi-plus-circle-fill color-font-skills" mat-button (click)="openDialogNew()" *ngIf="isLogged"></i>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center" *ngFor="let skill of skillh">

            <div class="iconos-edicion">
                <i class="bi bi-pencil-fill color-font-skills px-2" *ngIf="isLogged" (click)="openDialogEdit(skill.id)"></i>
                <i class="bi bi-trash-fill color-font-skills" *ngIf="isLogged" (click)="delete(skill.id)"></i>
            </div>

            <circle-progress
            [percent]="skill.porcentajeSkillH"
            [title]="skill.nombreSkillH | uppercase"
            [titleColor]="'#9268C4'"
            [showTitle]="true"
            [titleFontSize]="'25px'"
            [showUnits]="false"
            [subtitle]="skill.porcentajeSkillH + '%'"
            [subtitleFontSize]="'20px'"
            [showSubtitle]="true"
            [radius]="90"
            [outerStrokeWidth]="13"
            [space]="-13"
            [innerStrokeWidth]="13"
            [outerStrokeColor]="'#9268C4'"
            [innerStrokeColor]="'#EEEEEE'"
            [animation]="true"
            [animationDuration]="700"
            [backgroundPadding]="20"
            ></circle-progress>

        </div>
    </div>



    <!--Imagen de separor-->
    <div class="row align-items-center justify-content-center m-0 pt-0">  
        <img src="../../../assets/Ilustraciones/skills.svg" alt="Imagen de adorno - chica con computadora" style="width: 300px; height: 300px;">
    </div>    
    
    

</div>
