.font-seccion{
    font-family: 'Asap', sans-serif;
    color: #FA7120;
}

.border-org{
    border-color: #FA7120;
}

.font-p{
    font-family: 'Open Sans', sans-serif;
}

.font-titulo{
    color: #FA7120;
    font-family: 'Asap', sans-serif;
}

