<div class="container-fluid p-5 seccion-bg">
        <div class="about p-4">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="font-seccion fs-2">EXPRIENCIA LABORAL</h1>
            </div>
            <div class="about-border"></div>
       

        <div class="row align-items-center pb-5">
            <div class="col-lg-3 pb-lg-0 pb-4">
                <img class="img-fluid rounded w-100" src="../../../assets/logos-experiencia.jpg" alt="Imagen experiencia">
            </div>

            <div class="col-lg-9 p-2">
                <h3 class="text-light font-title fs-4 text-uppercase">Titulo del puesto</h3>
                <h6 class="text-orange py-2">Nombre del lugar de trabajo</h6>
                <p class="text-light text">Descripcion del proyecto- Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga libero impedit odio repellat repellendus omnis quasi quisquam unde! Optio, ut!</p>
                <p class="text-light">Periodo: <span class="text-light">2020/2022</span></p>
            </div>

        </div>

    </div>
</div>