.row{
    padding: 20px;
}

.font-seccion{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #E55926;
}

.color-org{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.seccion-bg{
    background-color: #151717;
}
