<div class="container-fluid seccion-bg py-5">

    <div class="row w-75 mx-auto educacion-fila text">
        <div class="about p-4">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="font-seccion fs-2">EXPERIENCIA LABORAL</h1>
            </div>
            <div class="about-border rounded"></div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-start  align-items-center my-5 icono-wrap">
            <img src="../../../assets/logo-experiencia.png" class="mt-3 rounded" alt="Logo institucion">
            <div>
                <h3 class="text-light font-title px-4 fs-4 text-uppercase mt-3 center-sm">Puesto</h3>
                <h6 class="text-color px-4 py-2 center-sm"><span>Lugar de trabajo</span> | <span>2023</span> </h6>
                <p class="text-light px-4">La falta de experiencia no es falta de capacidad, todos tenemos habilidades y competencias para ponerlas al servicio y generar un resultado.</p>
            </div>
        </div>

    </div>
</div>
