.row{
    padding: 20px;
}

.bg-oscuro{
    background-color: #151717;
}

.font-seccion{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #E55926;
}


.color-font-skills{
    color: #F1A603;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.border-grey{
    border-color: #696969;
    border-style: solid;
    border-width: 1px;
}

