<section class="container-fluid bg-dark">
    <div class="row">
        <div>
            <h1 class="font-seccion text-center p-2 pt-3  m-0">HABILIDADES DE DESARROLLLO</h1>
            <h4 class="text-light text-center p-0 m-1">HARD SKILL</h4>
        </div>

        <div class="col-12 my-4 text-center">

            <circle-progress
            [percent]="40"
            [title]="'HTML5'"
            [titleColor]="'#F1A603'"
            [showTitle]="true"
            [titleFontSize]="'25px'"
            [showUnits]="false"
            [subtitle]="'40%'"
            [subtitleFontSize]="'20px'"
            [showSubtitle]="true"
            [radius]="90"
            [outerStrokeWidth]="13"
            [space]="-13"
            [innerStrokeWidth]="13"
            [outerStrokeColor]="'#F1A603'"
            [innerStrokeColor]="'#696969'"
            [animation]="true"
            [animationDuration]="500"
            [backgroundPadding]="20"
            ></circle-progress>

            <circle-progress
            [percent]="40"
            [title]="'CSS'"
            [titleColor]="'#F1A603'"
            [showTitle]="true"
            [titleFontSize]="'25px'"
            [showUnits]="false"
            [subtitle]="'40%'"
            [subtitleFontSize]="'20px'"
            [showSubtitle]="true"
            [radius]="90"
            [outerStrokeWidth]="13"
            [space]="-13"
            [innerStrokeWidth]="13"
            [outerStrokeColor]="'#F1A603'"
            [innerStrokeColor]="'#696969'"
            [animation]="true"
            [animationDuration]="500"
            [backgroundPadding]="20"
            ></circle-progress>

            <circle-progress
            [percent]="30"
            [title]="'JS'"
            [titleColor]="'#F1A603'"
            [showTitle]="true"
            [titleFontSize]="'25px'"
            [showUnits]="false"
            [subtitle]="'30%'"
            [subtitleFontSize]="'20px'"
            [showSubtitle]="true"
            [radius]="90"
            [outerStrokeWidth]="13"
            [space]="-13"
            [innerStrokeWidth]="13"
            [outerStrokeColor]="'#F1A603'"
            [innerStrokeColor]="'#696969'"
            [animation]="true"
            [animationDuration]="500"
            [backgroundPadding]="20"
            ></circle-progress>

            <circle-progress
            [percent]="40"
            [title]="'BOOTSTRAP'"
            [titleColor]="'#F1A603'"
            [showTitle]="true"
            [titleFontSize]="'25px'"
            [showUnits]="false"
            [subtitle]="'40%'"
            [subtitleFontSize]="'20px'"
            [showSubtitle]="true"
            [radius]="90"
            [outerStrokeWidth]="13"
            [space]="-13"
            [innerStrokeWidth]="13"
            [outerStrokeColor]="'#F1A603'"
            [innerStrokeColor]="'#696969'"
            [animation]="true"
            [animationDuration]="500"
            [backgroundPadding]="20"
            ></circle-progress>

            <circle-progress
            [percent]="30"
            [title]="'ANGULAR'"
            [titleColor]="'#F1A603'"
            [showTitle]="true"
            [titleFontSize]="'25px'"
            [showUnits]="false"
            [subtitle]="'30%'"
            [subtitleFontSize]="'20px'"
            [showSubtitle]="true"
            [radius]="90"
            [outerStrokeWidth]="13"
            [space]="-13"
            [innerStrokeWidth]="13"
            [outerStrokeColor]="'#F1A603'"
            [innerStrokeColor]="'#696969'"
            [animation]="true"
            [animationDuration]="500"
            [backgroundPadding]="20"
            ></circle-progress>

            <circle-progress
            [percent]="40"
            [title]="'GIT'"
            [titleColor]="'#F1A603'"
            [showTitle]="true"
            [titleFontSize]="'25px'"
            [showUnits]="false"
            [subtitle]="'40%'"
            [subtitleFontSize]="'20px'"
            [showSubtitle]="true"
            [radius]="90"
            [outerStrokeWidth]="13"
            [space]="-13"
            [innerStrokeWidth]="13"
            [outerStrokeColor]="'#F1A603'"
            [innerStrokeColor]="'#696969'"
            [animation]="true"
            [animationDuration]="500"
            [backgroundPadding]="20"
            ></circle-progress>

        </div>
    </div>

        

        <!--SOFT SKILL-->
            <div class="row align-items-start text-center p-1 m-2">
                <div>
                    <h4 class="text-light p-0 m-1">SOFT SKILL</h4>
                </div>


                <div class="col bg-orange m-2">
                    Trabajo en equipo
                </div>
                <div class="col bg-orange m-2">
                    Responsabilidad
                </div>
                <div class="col bg-orange m-2">
                    Autogestion
                </div>
                <div class="col bg-orange m-2">
                    Creatividad
                </div>
                <div class="col bg-orange m-2">
                    Adaptacion
                </div>
            </div>


        <!--IDIOMAS-->
        <div class="row align-items-start text-center p-1 m-2">
            <div>
                <h4 class="text-light p-0 m-1">IDIOMAS</h4>
            </div>

            <div class="col bg-orange m-1">
               Ingles Basico
            </div>

        </div>


</section>