.row{
    background-color: #151717;
    padding: 20px;
}

.font-seccion{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #E55926;
}

.bg-orange{
    background-color: #F1A603;
    font-weight: bold;
}

