.row{
    padding: 20px;
}


.text-muted{
    font-size: 13px;
}



.color-font-skills{
    color: #9268C4;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.title-skill{
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #494949;
}


/*INICIO DEL PROGRESS BAR SKILL*/
.bar{
    height: 6px;
    background: #EEEEEE;
    border-radius: 5px;
    margin-top: 10px;
}

.bar span{
    height: 6px;
    float:left;
}

.soft-skill{
    background:#9268C4;
    border-radius: 5px;
    width: 100%;
    animation: soft-skill 10s;
}

@keyframes soft-skill{
    0%{
        width: 0%;
    }

    100%{
        width: 100%;
    }
}
