<div class="container-fluid py-5 bg-oscuro">
    <div class="about">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="font-seccion fs-2 pt-4">HABILIDADES DE DESARROLLO</h1>
        </div>
        <div class="about-border"></div>
    </div>
    <h4 class="text-light text-center pt-4 m-2 title-skill">HARD SKILL</h4>

    <!--HARD SKILL-->
    <div class="row">
        <div class="col-12 my-3 text-center">

            <circle-progress
            [percent]="40"
            [title]="'HTML5'"
            [titleColor]="'#F1A603'"
            [showTitle]="true"
            [titleFontSize]="'25px'"
            [showUnits]="false"
            [subtitle]="'40%'"
            [subtitleFontSize]="'20px'"
            [showSubtitle]="true"
            [radius]="90"
            [outerStrokeWidth]="13"
            [space]="-13"
            [innerStrokeWidth]="13"
            [outerStrokeColor]="'#F1A603'"
            [innerStrokeColor]="'#696969'"
            [animation]="true"
            [animationDuration]="700"
            [backgroundPadding]="20"
            ></circle-progress>

            <circle-progress
            [percent]="40"
            [title]="'CSS'"
            [titleColor]="'#F1A603'"
            [showTitle]="true"
            [titleFontSize]="'25px'"
            [showUnits]="false"
            [subtitle]="'40%'"
            [subtitleFontSize]="'20px'"
            [showSubtitle]="true"
            [radius]="90"
            [outerStrokeWidth]="13"
            [space]="-13"
            [innerStrokeWidth]="13"
            [outerStrokeColor]="'#F1A603'"
            [innerStrokeColor]="'#696969'"
            [animation]="true"
            [animationDuration]="700"
            [backgroundPadding]="20"
            ></circle-progress>

            <circle-progress
            [percent]="30"
            [title]="'JS'"
            [titleColor]="'#F1A603'"
            [showTitle]="true"
            [titleFontSize]="'25px'"
            [showUnits]="false"
            [subtitle]="'30%'"
            [subtitleFontSize]="'20px'"
            [showSubtitle]="true"
            [radius]="90"
            [outerStrokeWidth]="13"
            [space]="-13"
            [innerStrokeWidth]="13"
            [outerStrokeColor]="'#F1A603'"
            [innerStrokeColor]="'#696969'"
            [animation]="true"
            [animationDuration]="700"
            [backgroundPadding]="20"
            ></circle-progress>

            <circle-progress
            [percent]="40"
            [title]="'BOOTSTRAP'"
            [titleColor]="'#F1A603'"
            [showTitle]="true"
            [titleFontSize]="'25px'"
            [showUnits]="false"
            [subtitle]="'40%'"
            [subtitleFontSize]="'20px'"
            [showSubtitle]="true"
            [radius]="90"
            [outerStrokeWidth]="13"
            [space]="-13"
            [innerStrokeWidth]="13"
            [outerStrokeColor]="'#F1A603'"
            [innerStrokeColor]="'#696969'"
            [animation]="true"
            [animationDuration]="700"
            [backgroundPadding]="20"
            ></circle-progress>

            <circle-progress
            [percent]="30"
            [title]="'ANGULAR'"
            [titleColor]="'#F1A603'"
            [showTitle]="true"
            [titleFontSize]="'25px'"
            [showUnits]="false"
            [subtitle]="'30%'"
            [subtitleFontSize]="'20px'"
            [showSubtitle]="true"
            [radius]="90"
            [outerStrokeWidth]="13"
            [space]="-13"
            [innerStrokeWidth]="13"
            [outerStrokeColor]="'#F1A603'"
            [innerStrokeColor]="'#696969'"
            [animation]="true"
            [animationDuration]="700"
            [backgroundPadding]="20"
            ></circle-progress>

            <circle-progress
            [percent]="40"
            [title]="'GIT'"
            [titleColor]="'#F1A603'"
            [showTitle]="true"
            [titleFontSize]="'25px'"
            [showUnits]="false"
            [subtitle]="'40%'"
            [subtitleFontSize]="'20px'"
            [showSubtitle]="true"
            [radius]="90"
            [outerStrokeWidth]="13"
            [space]="-13"
            [innerStrokeWidth]="13"
            [outerStrokeColor]="'#F1A603'"
            [innerStrokeColor]="'#696969'"
            [animation]="true"
            [animationDuration]="700"
            [backgroundPadding]="20"
            ></circle-progress>

        </div>
    </div>

        

        <!--SOFT SKILL-->
        <div class="row align-items-start text-center p-2 m-2 text-uppercase">
            <div>
                <h4 class="text-light p-2 m-2 title-skill">SOFT SKILL</h4>
            </div>


                <!--SKILL 1-->
                <div class="col border-grey color-font-skills p-4 m-2">Trabajo en equipo
                    <h5 class="text-light"><span class="counter">100</span><span>%</span></h5>
                    <div class="bar"><span class="soft-skill"></span></div>
                </div>
                

                <!--SKILL 2-->
                <div class="col border-grey color-font-skills p-4  m-2">Responsabilidad
                    <h5 class="text-light"><span class="counter">100</span><span>%</span></h5>
                    <div class="bar"><span class="soft-skill"></span></div>
                </div>


                <!--SKILL 3-->
                <div class="col border-grey color-font-skills p-4  m-2">Autogestion
                    <h5 class="text-light"><span class="counter">100</span><span>%</span></h5>
                    <div class="bar"><span class="soft-skill"></span></div>
                </div>

                <!--SKILL 4-->
                <div class="col border-grey color-font-skills p-4  m-2">Creatividad
                    <h5 class="text-light"><span class="counter">100</span><span>%</span></h5>
                    <div class="bar"><span class="soft-skill"></span></div>
                </div>


                <!--SKILL 5-->
                <div class="col border-grey color-font-skills p-4  m-2">Adaptacion
                    <h5 class="text-light"><span class="counter">100</span><span>%</span></h5>
                    <div class="bar"><span class="soft-skill"></span></div>
                </div>
               
        </div>


        <!--IDIOMAS-->
        <div class="row align-items-start text-center p-3 pb-4 m-4 text-uppercase">
            <div>
                <h4 class="text-light p-2 m-2 title-skill">IDIOMAS</h4>
            </div>

            <div class="col m-2 text-center color-font-skills">
                <h5 class="py-2">INGLES A2</h5>
                <div class="bar-idioma"><span class="soft-skill"></span></div>
            </div>
        </div>