<div class="text-dark">
    <form novalidate #f="ngForm">
        <h2 mat-dialog-title>EDITAR EXPERIENCIA LABORAL</h2>
        <div class="form-container">

            <label for="nombreExperiencia">Nombre del puesto
                <input type="text" id="nombreExperiencia" name="nombreExperiencia" placeholder="Ej: Front-end Developer" [(ngModel)]="experiencia.nombreExperiencia" required/>
            </label>
            <label for="compania">Nombre de la empresa
                <input type="text" id="compania" name="compania" placeholder="Ej: Google" [(ngModel)]="experiencia.compania" required/>
            </label>

            
            <label for="startExp">Fecha de inicio</label>
                <select id="startExp" name="startExp" [(ngModel)]="experiencia.startExp" required>
                <option *ngFor="let year of years" [value]="year">{{year}}</option>
                </select>

            <label for="endExp">Fecha de fin</label>
                <select id="endExp" name="endExp" [(ngModel)]="experiencia.endExp" required>
                <option *ngFor="let year of years" [value]="year">{{year}}</option>
                </select>



            <label for="imgExp">Imagen
                <input type="url" id="imgExp" name="imgExp" placeholder="Carga la URL" [(ngModel)]="experiencia.imgExp" required/>
            </label>
            <label for="descripcionExperiencia">Descripción de las tareas
                <textarea id="descripcionExperiencia" name="descripcionExperiencia"
                    placeholder="Ej: Implementé diseños y conceptos de diseño en código HTML, CSS y JavaScript." maxlength="1000" [(ngModel)]="experiencia.descripcionExperiencia" required></textarea>
            </label>
        </div>

        <div mat-dialog-actions class="form-container__btn">
            <button mat-button (click)="onNoClick()">Cancelar</button>
            <button mat-button cdkFocusInitial class="text-light send-button" (click)="onUpdate(data.id)">Actualizar</button>
        </div>
    </form>
</div>