<section class="formulario bg-dark-new">
  <div class="container p-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-10">
        <div class="card rounded-3 text-light bg-left">
          <div class="row g-0">

            <div class="col-lg-6">
              <div class="card-body p-md-4 mx-md-5">
                <div class="text-center">
                  <h4 class="mt-1 mb-4 pb-2">Tu portafolio</h4>
                </div>

                <form>

                  <div class="form-outline mb-4">
                    <input type="email" class="form-control"/>
                    <label class="form-label" for="form2Example11">Nombre de usuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control" />
                    <label class="form-label" for="form2Example22">Contraseña</label>
                  </div>

                  <div class="text-center pt-1 mb-5">
                    <button class="btn btn-block fa-lg btn btn-outline-new mybtn" type="button">Log in</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-1">
                    <p class="mb-0 me-2">¿No tienes una cuenta?</p>
                    <button type="button" class="btn btn-outline-new mybtn">Crear una cuenta</button>
                  </div>

                </form>
              </div>
            </div>


            <div class="col-lg-6 d-flex align-items-center bg-right">
              <div class="text-white px-4 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Usa este portafolio como plantilla</h4>
                <p class="mb-0">Un portafolio web muestra 
                  tus habilidades, tu experiencia y tu estilo único.
                  Al registrarte, podrás modificar este portafolio con tus datos para tener una referencia 
                  de diseño para tu propio proyecto.<param name="mostrar tus " value=""></p>
              </div>
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>
</section>