#banner{
    padding: 0 50px;
    background-image:url(../../../assets/banner.png);
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*TAMAÑO DE IMAGEN RECOMENDADA: 1500 x 500, medidas de banner twitter*/

/*Para un ancho inferior a 767px*/
@media only screen and (max-device-width: 767px){   
    #banner{
        background-image:url(../../../assets/banner.png);
        width: 100%;
        height: 300px;
}
}
