#banner{
    padding: 0 50px;
    background-image: url(../../../assets/banner.png);
    height: 50vh;
    max-width: 100%;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
}