<div class="text-dark">
    <form novalidate #f="ngForm">
        <h2 mat-dialog-title>CARGAR NUEVA HARD SKILL</h2>
        <div class="form-container">
    
            <label for="nombreSkillH">Nombre de la habilidad
                <input type="text" id="nombreSkillH" name="nombreSkillH" placeholder="Ej: HTML"
                    [(ngModel)]="nombreSkillH" required />
            </label>

            <label for="porcentajeSkillH">Nivel de habilidad
                <mat-slider thumbLabel [displayWith]="formatLabel" step="5" min="0" max="100" aria-label="units"
                    id="porcentajeSkillH" name="porcentajeSkillH" [(ngModel)]="porcentajeSkillH" required tickInterval="5">
                </mat-slider>
            </label>
    
        </div>
        <div mat-dialog-actions class="form-container__btn">
            <button mat-button (click)="onNoClick()">Cancelar</button>
            <button mat-button cdkFocusInitial class="send-button" (click)="onCreate()">Enviar</button>
        </div>
    </form>    
</div>